<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('headlogo2.png' , size: '185x50'), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">ペットの情報を入力</h2>
    <%= form_with model: @animal, url: animals_path, local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%= render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# ペット画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        ペット画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /ペット画像 %>
    <%# ペット名と現在所在地 %>
    <div class="new-items">
      <div class="weight-bold-text">
        ペットの名前
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :animal_name, class:"items-text", id:"animal-name", placeholder:"ペット名（必須 10文字まで)", maxlength:"10" %>
      <div class="animals-location">
        <div class="weight-bold-text">
          現在所在地
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :current_location, class:"items-text", id:"current-location", placeholder:"例）世田谷区内（必須）" %>
      </div>
    </div>
    <%# /ペット名と現在所在地 %>

    <%# ペットの年齢・種類 %>
    <div class="items-detail">
      <div class="form">
        <div class="weight-bold-text">
          年齢
          <span class="indispensable">必須</span>
        </div>
          <%= f.text_area :animal_age, class:"items-text", id:"animal_age", placeholder:"例）5才・不明（必須）" %>
        <div class="weight-bold-text">
          犬(猫)の種類
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :type, class:"items-text", id:"type", placeholder:"例）チワワ（必須）" %>
      </div>
      
    </div>
    <%# /商品の詳細 %>

    <%# ペットについて %>
    <div class="items-detail">
      <div class="form">
        <div class="weight-bold-text">
          性別(♂ ♀)
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:male_female_id, MaleFemale.all, :id, :name, {}, {class:"select-box", id:"animal-male-female"}) %>
        <div class="weight-bold-text">
          ワクチン接種
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:vaccine_id, Vaccine.all, :id, :name, {}, {class:"select-box", id:"vaccine-status"}) %>
        <div class="weight-bold-text">
          保護に至るまでの背景
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :background, class:"items-text", id:"animal-background", placeholder:"保護するまでの説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
        <div class="weight-bold-text">
          性格
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :personality, class:"items-text", id:"animal-personality", placeholder:"例）活発・大人しい（必須）" %>
        <div class="weight-bold-text">
          健康状態
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :health, class:"items-text", id:"animal-health", placeholder:"例）良好・持病あり（必須）" %>
        <div class="weight-bold-text">
          譲渡方法
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :transfer_method, class:"items-text", id:"animal-transfer_method", placeholder:"例）直接譲渡（必須）" %>
      </div>
    </div>
    <%# /ペットについて %>

    <%# 注意書き %>
    <div class="caution">
      <p class="sentence">
        <a href="#">禁止されている出品、</a>
        <a href="#">行為</a>
        を必ずご確認ください。
      </p>
      <p class="sentence">
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        <a href="#">偽ブランドの販売</a>
        は犯罪であり処罰される可能性があります。
      </p>
      <p class="sentence">
        また、出品をもちまして
        <a href="#">加盟店規約</a>
        に同意したことになります。
      </p>
    </div>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <%= link_to image_tag('headlogo2.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎Pet-Shelter,Inc.
    </p>
  </footer>
</div>