<%= render "shared/header" %>

<%# ペットの概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @animal.animal_name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @animal.image ,class:"item-box-img" %>
      <%# 商品が売れている場合は、sold outを表示しましょう %>
      <% if @animal.order != nil %>
        <div class='sold-out'>
          <span>里親決定!</span>
        </div>
      <% end %>
      <%# //商品が売れている場合は、sold outを表示しましょう %>
    </div>
    <div class="item-age-box">
      <span class="item-age">
        <%= "#{@animal.animal_age}（才）" %>
      </span>
      <span class="item-male-female">
        <%= @animal.male_female.name %>
      </span>
    </div>

    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
    <% if user_signed_in? %>
      <% if current_user.id == @animal.user.id && @animal.order == nil %>
        <%= link_to 'ペット情報の編集', edit_animal_path, method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', animal_path(@animal.id), method: :delete, class:'item-destroy' %>
      <% else %>
        <% if @animal.order == nil %>
          <%# 商品が売れていない場合はこちらを表示しましょう %>
          <%= link_to 'ペット引取画面に進む', animal_orders_path(@animal.id) ,class:"item-red-btn"%>
        <% end %>
      <% end %>
    <% end %>


    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

    <div class="item-explain-box">
      <span><%= "ペット説明" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ペットの名前</th>
          <td class="detail-value"><%= @animal.animal_name %></td>
        </tr>
        <tr>
          <th class="detail-item">現在所在地</th>
          <td class="detail-value"><%= @animal.current_location %></td>
        </tr>
        <tr>
          <th class="detail-item">年齢</th>
          <td class="detail-value"><%= @animal.animal_age %></td>
        </tr>
        <tr>
          <th class="detail-item">犬（猫）の種類</th>
          <td class="detail-value"><%= @animal.type %></td>
        </tr>
        <tr>
          <th class="detail-item">性別</th>
          <td class="detail-value"><%= @animal.male_female.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ワクチン接種</th>
          <td class="detail-value"><%= @animal.vaccine.name %></td>
        </tr>
        <tr>
          <th class="detail-item">保護に至るまでの背景</th>
          <td class="detail-value"><%= @animal.background %></td>
        </tr>
        <tr>
          <th class="detail-item">性格</th>
          <td class="detail-value"><%= @animal.personality %></td>
        </tr>
        <tr>
          <th class="detail-item">健康状態</th>
          <td class="detail-value"><%= @animal.health %></td>
        </tr>
        <tr>
          <th class="detail-item">譲渡方法</th>
          <td class="detail-value"><%= @animal.transfer_method %></td>
        </tr>
      </tbody>
    </table>
  <%# /商品の概要 %>

  <div class="comment-box">
    <% if user_signed_in? %>
      <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
      <%= form_with(model: [@animal, @comment], local: true) do |f| %>
        <div class = "field">
          <%= f.label :text, "質問・コメント" %><br/>
          <%= f.text_field :text %>
        </div>
        <div class = "actions">
          <%= f.submit "送信する", class: :form_btn%>
        </div>
      <% end %>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <li class="comments_list">
            <%= comment.text %>
            <%= link_to comment.user.nickname, "/users/#{comment.user_id}", class: :comment_user %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
